In [44]:
run analysis.py

trying
token collected..
collecting tweets..
603 tweets collected
fetching historic price data..
10.0% complete
20.0% complete
30.0% complete
40.0% complete
50.0% complete
59.0% complete
69.0% complete
79.0% complete
89.0% complete
99.0% complete
historic data collected
generating mean..
mean_generated
summarizing results..

/Users/jurjenvangenugten/opt/anaconda3/lib/python3.8/site-packages/scipy/stats/_stats_mstats_common.py:130: RuntimeWarning: invalid value encountered in double_scalars
  slope = r_num / ssxm
/Users/jurjenvangenugten/opt/anaconda3/lib/python3.8/site-packages/scipy/stats/_stats_mstats_common.py:140: RuntimeWarning: invalid value encountered in sqrt
  t = r * np.sqrt(df / ((1.0 - r + TINY)*(1.0 + r + TINY)))
/Users/jurjenvangenugten/opt/anaconda3/lib/python3.8/site-packages/scipy/stats/_stats_mstats_common.py:142: RuntimeWarning: invalid value encountered in double_scalars
  sterrest = np.sqrt((1 - r**2) * ssym / ssxm / df)

Analysis complete

In [54]:
data = data.sort_values(by='mean (10 minutes)', ascending=False)
display(data)
#look at columns 'mean(10 minutes)' and 'max (10 minutes)' 
#those indicate the mean increase in % and the max increase in 5

#if tweet_count = 1 probably not very reliable

,username,target_id,coin_symbol,tweet_count,mean (10 minutes),mean_std,mean_coef,max (10 minutes),max_std,max_coef,time_max,min,time_min,revenue (.05),revenue optimized
0,Elon Musk,44196397,DOGE,8,0.0608359,0.0436702,0.00237826,0.0621693,0.0529499,0.00237826,4,0.0567903,0,NaN,NaN
15,vitalik.eth,295218901,DOGE,1,0.0130903,0,NaN,0.0198464,0,NaN,8,0.00829942,0,NaN,NaN
8,CZ ðŸ”¶ Binance,902926941413453824,DOT,1,0.00778069,0,NaN,0.011875,0,NaN,4,0.00684083,0,NaN,NaN
46,Richard Branson,8161232,ICX,1,0.00478836,0,NaN,0.00772487,0,NaN,9,0.0026455,0,NaN,NaN
54,CNBC,20402945,ICX,2,0.00423811,0.00173514,-0.00347028,0.00520118,0.00127464,-0.00347028,6,0.00432902,1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,Tim Cook,1636590253,ICX,1,-0.00419956,0,NaN,-0.00163354,0,NaN,0,-0.00598965,8,NaN,NaN
58,ye,169686021,ICX,3,-0.00554316,0.0039484,-0.0048356,-0.00139863,0.0013009,-0.0048356,0,-0.00994733,9,NaN,NaN
13,John McAfee,961445378,ICX,2,-0.00590252,0.00717877,-0.0143575,0.000395007,0.000740894,-0.0143575,0,-0.0104512,8,NaN,NaN
61,George Soros,23125257,BTC,1,-0.00591433,0,NaN,0.00091528,0,NaN,3,-0.014555,8,NaN,NaN
57,ye,169686021,BNB,1,-0.00712705,0,NaN,0.00162757,0,NaN,3,-0.0158927,7,NaN,NaN